@media (max-width: 640px) and (min-width: 320px){
    .image-logo{
      display:none;
      margin-top: 3px;
    }
  }
  .searchInput{
    border-color: rgba(128, 128, 128, 0.21);
  }
  .height-imput{
  height: 38px;
}

.border-none{
    border-style: none;
  }